langchain
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-groq
langchain-chroma
langchain-google-genai
chromadb
sentence-transformers
rank-bm25
presidio-analyzer
presidio-anonymizer
ragas
datasets
streamlit
python-dotenv
pandas
groq
langsmith
torchvision
spacy
